{
  "rules": {
    "font-weight-notation": "numeric",
    "color-hex-case": "lower",
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-block-trailing-semicolon": "always",
    "declaration-block-no-duplicate-properties": true,
    "declaration-colon-space-after": "always-single-line",
    "declaration-colon-space-before": "never",
    "indentation": 2,
    "max-empty-lines": 2,
    "number-no-trailing-zeros": true,
    "property-case": "lower",
    "property-no-vendor-prefix": true,
    "selector-list-comma-newline-after": "always",
    "selector-no-id": true,
    "string-quotes": "double",
    "value-keyword-case": "lower",
    "value-list-comma-newline-after": "always",
    "value-list-comma-space-after": "always",
    "rule-empty-line-before": "always-multi-line"
  }
}
