<div class="gamers-item">
  <h2 class="gamers-item__heading hide-in-desktop">For gamers by gamers tee</h2>
  <div class="gamers-item__info">
    <div class="gamers-item__photo">
      <img src="images/img-jacket.png" alt="image description">
    </div>
    <div class="gamers-item__description">
      <h2 class="gamers-item__heading show-in-desktop">For gamers by gamers tee</h2>
      <span class="gamers-item__number">Item #: 701642853695</span>
      <div class="gamers-item__price">
        <strong class="gamers-item__price-old">$<span>29.50</span></strong>
        <strong class="gamers-item__price-new">$19.99</strong>
      </div>
      <div class="gamers-item__rate">
        <ul class="gamers-item__rate-list">
          <li class="gamers-item__rate-item active">rating star</li>
          <li class="gamers-item__rate-item active">rating star</li>
          <li class="gamers-item__rate-item active">rating star</li>
          <li class="gamers-item__rate-item active">rating star</li>
          <li class="gamers-item__rate-item">rating star</li>
        </ul>
      </div>
      <div class="gamers-item__share-it">
        <span class="gamers-item__share show-in-desktop">Share it!</span>
        <div class="gamers-item__socials">
          <strong class="gamers-item__socials-heading show-in-desktop">Share with</strong>
          <strong class="gamers-item__socials-close show-in-desktop" title="Close">Close</strong>
          <span class="gamers-item__socials-arrow show-in-desktop">▲</span>
          <div class="gamers-item__socials-list">
            <a href="#" class="gamers-item__socials-link facebook" title="facebook"><span>facebook</span></a>
            <a href="#" class="gamers-item__socials-link twitter" title="twitter"><span>twitter</span></a>
            <a href="#" class="gamers-item__socials-link pinterest" title="pinterest"><span>pinterest</span></a>
            <a href="#" class="gamers-item__socials-link youtube" title="youtube"><span>youtube</span></a>
            <a href="#" class="gamers-item__socials-link instagram" title="instagram"><span>instagram</span></a>
          </div>
        </div>
      </div>
      <div class="gamers-item__details">
        <h3 class="show-in-tablet">DETAILS:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="gamers-item__size">
        <h3 class="hide-in-desktop">Select a size:</h3>
        <h3 class="show-in-desktop hide-in-tablet hide-in-mobile">Size:</h3>
        <ul class="gamers-item__size-list">
          <li class="gamers-item__size-item">XS</li>
          <li class="gamers-item__size-item">S</li>
          <li class="gamers-item__size-item">M</li>
          <li class="gamers-item__size-item active">L</li>
        </ul>
      </div>
      <div class="gamers-item__button-holder">
        <button class="gamers-item__add-to-cart">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="gamers-item__like">
    <h3 class="gamers-item__like-heading">YOU MAY ALSO LIKE</h3>
    <div class="gamers-item__like-holder">
      <ul class="gamers-item__like-list">
        <li class="gamers-item__like-item">
          <a href="#">
            <span class="gamers-item__like-photo">
              <img src="images/img-photo01.jpg" alt="image description">
            </span>
            <span class="gamers-item__like-price">
              <strong class="gamers-item__like-price-old">$<span>29.99</span></strong>
              <strong class="gamers-item__like-price-new">$19.99</strong>
            </span>
          </a>
        </li>
        <li class="gamers-item__like-item">
          <a href="#">
            <span class="gamers-item__like-photo">
              <img src="images/img-photo02.jpg" alt="image description">
            </span>
            <span class="gamers-item__like-price">$22.00</span>
          </a>
        </li>
        <li class="gamers-item__like-item">
          <a href="#">
            <span class="gamers-item__like-photo">
              <img src="images/img-photo03.jpg" alt="image description">
            </span>
            <span class="gamers-item__like-price">$24.99</span>
          </a>
        </li>
        <li class="gamers-item__like-item">
          <a href="#">
            <span class="gamers-item__like-photo">
              <img src="images/img-photo04.jpg" alt="image description">
            </span>
            <span class="gamers-item__like-price">
              <strong class="gamers-item__like-price-old">$<span>29.99</span></strong>
              <strong class="gamers-item__like-price-new">$19.99</strong>
            </span>
          </a>
        </li>
        <li class="gamers-item__like-item">
          <a href="#">
            <span class="gamers-item__like-photo">
              <img src="images/img-photo05.jpg" alt="image description">
            </span>
            <span class="gamers-item__like-price">$60.00</span>
          </a>
        </li>
        <li class="gamers-item__like-item">
          <a href="#">
            <span class="gamers-item__like-photo">
              <img src="images/img-photo06.jpg" alt="image description">
            </span>
            <span class="gamers-item__like-price">$54.00</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
